


  body{
    background-image: linear-gradient(rgb(224, 173, 218), rgb(228, 228, 192), rgb(132, 175, 132));
  }


  .pinkcirc{
    position: absolute;
    top: 25%;
    left: 40%;
   height: 300px;
   width: 300px;
    box-shadow: 5px 10px #888888;
    background: rgb(218, 100, 179);
    border-radius: 50%;
  
}


.greencirc{
    position: absolute;
    top:28.5%;
    left: 42%;
   height: 250px;
   width: 250px;
    background: rgb(114, 218, 100);
    border-radius: 50%;
  
}


.yellcirc{
    position: absolute;
    top: 12%;
    left: 10%;
   height: 200px;
   width: 200px;
    background: rgb(218, 216, 100);
    border-radius: 50%;
  
}


.purpcirc{
    position: absolute;
    top: 12%;
    left: 12%;
   height: 150px;
   width: 150px;
    background: rgb(203, 128, 238);
    border-radius: 50%;
}


.orancirc{
    position: absolute;
    top: 15%;
    left: 17%;
   height: 100px;
   width: 100px;
    background: rgb(238, 181, 128);
    border-radius: 50%;
}

.stick{
    position: absolute;
    top: 70%;
    left: 47%;
    height: 250px;
    width: 25px;
    background-color: rgb(170, 155, 135);
    box-shadow: 5px 10px #888888;
    z-index: -1;
  }

/*Falling Emoji Candy*/

*::before,
*::after {
	content: '\1F36D';
	font-family: Arial sans-serif;
	font-size: 4rem;
	position: fixed;
	color: #ddf;
	border-radius: 50%;
	overflow: hidden;
	top: 0;
	z-index: 1;
	animation: falling 4s infinite linear;
	pointer-events: none;
}

@keyframes falling {
	0% { transform: translate(0, 0vh) rotateZ(0deg) }
	25% { transform: translate(0, 25vh) rotateZ(45deg) }
	75% { transform: translate(5vw, 75vh) rotateZ(135deg) }
	100% { transform: translate(10vw, 100vh) rotateZ(180deg) }
}

*::before { left: 10px; animation-delay: -4s; }
*::after { right: 10px; animation-delay: -2s; }

*:first-child::before,
*:first-child::after {
	animation-duration: 6s;
	font-size: 3rem;
}

*:only-child::before,
*:only-child::after {
	animation-duration: 8s;
	font-size: 2rem;
}



